<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <style type="text/css">
        body {
            text-align: center;
        }
        canvas {
            background-color: #000000;
            border: 5px solid #000000;
        }
    </style>
</head>
<body>
    <p>Index!</p>
    {{ ai_names }}
    <form action="/create-game" method="POST">
        <p><select name="p1">
        {% for ai_name in ai_names %}
            <option>{{ ai_name }}</option>
        {% endfor %}
        </select></p>
        <p><select name="p2">
        {% for ai_name in ai_names %}
            <option>{{ ai_name }}</option>
        {% endfor %}
        </select></p>
        <input type="submit" value="Create Game">
    </form>
</body>
</html>
